.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; 
}

h2 {
  color: #333;
}

p {
  line-height: 1.5;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-top: 20px;
  padding-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
