.navbar {
  background-color: #343a40;
  padding: 2px 0;
  border-bottom: 2px solid #28a745; 
}

.navbar-brand {
  color: #28a745 !important; 
  font-size: 1.5rem; 
}

.navbar-toggler-icon {
  background-color: #28a745;
}

.navbar-nav .nav-link {
  color: #28a745 !important;
  margin-right: -370px;
  margin-left: 400px;
}


.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active {
  background-color: #000000; 
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .dropdown-item {
  color: #28a745 !important;
}


#sign:hover {
  background-color: #000000; 
}

.fixed-top {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000; 
}
#image {
  max-width: 30%;
  height: auto; 
  width: 120px; 
}

